    <ul class="jsbox" style="padding-top:10px; margin-top:0px; position:fixed; max-width:734px; width:100%; z-index:9">
      <li>
        <form id="formsearchTagbox" data-ajax="false" action="/m_search/findgroups.html" method="GET" name="search" onsubmit = "return BaseInitClass.checksearchTagbox();">
        <div class="rowbox" style="padding-right:10px">
            <div class="row-flex1">
            <input id="newsearchInt" type="text" name="s" value="<{$keyword}>" placeholder="搜索明星群" class="mb-10">
            </div>
            <div class="searchbtn newsearchbtn">
                <button type="submit" class="ico ico-search w30"></button>
            </div>
        </div>
        </form>
      </li>
    </ul>