<!doctype html>
<!--[if lt IE 7]> <html class="ie6 ie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 ie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 ie"> <![endif]-->
<!--[if IE]> <html class="ie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="referrer" content="origin">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="expires" Content="3600">
<meta http-equiv="expires" Content="wed, 26 feb 1997 08:21:57 GMT">
<meta name="Keywords" Content="<{$seo['keywords']}>">
<meta name="Description" Content="<{$seo['description']}>">
<meta name="Robots" Content="All">
<meta property="qc:admins" content="2347472773621301256375" />
<link rel="apple-touch-icon-precomposed" href="<{$static_url}>/moblie/images/byshare.ico" >
<title><{$seo['title']}></title>
<link rel="stylesheet" href="<{$static_url}>/moblie/app/css/byshare.min.css?v=<{$v_css_js}>">
<script type="text/javascript">
	var islogin = '<{$construct_data.islogin}>';
	var isoutside = '<{$isoutside}>';
	var exrtitle = "<{$currency['exrtitle']}>";
	var exrcode = "<{$currency['exrcode']}>";
	var exrvalue = "<{$currency['exrvalue']}>";
	var ucenter_url = '<{$ucenter_url}>';
	var static_url = '<{$static_url}>';
	var static_url_comm = '<{$static_url}>';
	var suid = "<{$construct_data.suid}>";
	var shareView ='';
	var ukey = "<{ukey()}>";
	var isweixin = '<{$construct_data.isweixin}>';
	var isgzweixin = 0;
	var urlfee_fromsuid='<{$market_urlfee.fromsuid}>';
	var urlfee_url='<{$market_urlfee.url}>';
	var require = {
		urlArgs: 'v=<{$v_css_js}>'
	};
</script>
</head>