<{include file="header_comm.html"}>
<body class="bodybox bodyclick">
<div class="mainbox" id="fxpage_user">
    
  <div id="headerbox" class="headerbox">
   <{include file="header_back.html"}>
   <{if $ismore}>
    <!--
    <div class="rowbox fx-nav h3_title">
        <div class="row-flex1 <{if $act == 'shareners'}>current<{/if}>"><a href="/share/myfollowing.html?act=shareners&fsuid=<{$fsuid}>">用户</a></div>
        <div class="row-flex1 <{if $act == 'boards'}>current<{/if}>"><a href="/share/myfollowing.html?act=boards&fsuid=<{$fsuid}>">画板</a></div>
        <div class="row-flex1 <{if $act == 'interests'}>current<{/if}>"><a href="/share/myfollowing.html?act=interests&fsuid=<{$fsuid}>">标签</a></div>
    </div>
    -->
    <{/if}>
  </div>
  
  <div class="contentbox" data-role="content">
   <{include file="header_my.html"}>
   <ul id="masonry" class="jsbox masonry">
       <{if $act == 'shareners'}>
           <{include file="inc_following_person.html"}>
       <{elseif $act  == 'boards'}>
           <{include file="inc_following_board.html"}>
       <{elseif $act  == 'interests'}>
           <{include file="inc_following_interest.html"}>
       <{/if}>
   </ul>
    
   <div class="pager">
	   <span class="pager-next"><a href="<{$request_url}>"></a></span> 
   </div>
     
   <{include file="footer_bar.html"}>
</div>
<input type="hidden" id="pagecol" value="1" /><!-- 1单列，0默认双列 -->
<input type="hidden" id="isseacrch" value="0" /><!-- 1搜索，0正常 -->
<script data-main="<{$static_url}>/moblie/app/js/myShare_myshares.js" src="<{$static_url}>/moblie/app/require.js"></script>
<{include file="footer_comm_new.html"}>
</body>
</html>