<{include file="header_comm.html"}>

<body class="bodybox bodyclick">
<div class="mainbox" id="fxpage_user" data-role="page">

  <div id="headerbox" class="headerbox">
   <{include file="header_back.html"}> 
  </div>
  
  <div class="contentbox" data-role="content">
    
    <{include file="group/home_comm.html"}>
    
    <!--
    <div class="userbox-cont">
      <ul class="rowbox user-c-dh h3_title">
        <li class=" current"><a href="/user_group/home.html?gpid=<{$gpid}>&ch=share">群的分享</a></li>
        <li class=""><a href="/user_group/home.html?gpid=<{$gpid}>&ch=qrcode">群聊</a></li>
      </ul>
      <ul class="jsbox">
        	<li>群简介：</li>
            <li>
            	<{$user_group.gpdesc}>
            </li>
      </ul>
    </div>
    <div class="blank15"></div>
    -->
    
    <div id="masonry_2" class="masonry larger-view">
    	<{include file="inc_share_item.html"}>
    </div>
    <div class="pager">
        <span class="pager-next"><a href="<{$pageurl}>"></a></span>
    </div>
  </div>
  
  <{include file="footer_bar.html"}>
  
</div>
<input type="hidden" id="pagecol" value="0" /><!-- 1单列，0默认双列 -->
<input type="hidden" id="isseacrch" value="0" /><!-- 1搜索，0正常 -->
<input type="hidden" id="isfollow" value="0" /><!-- 1关注，0正常 -->
<script data-main="<{$static_url}>/moblie/app/js/group_home.js" src="<{$static_url}>/moblie/app/require.js"></script>
<{include file="footer_comm_new.html"}>
</body>

</html>
