<{include file="header_comm.html"}>
<body>
<div id="bodywidth"></div>
<div id="fxpage_user" data-role="page">
  <div id="headerbox" class="headerbox">
    <div class="rowbox searchbox"> <a href="javascript:void(0);" class="back" data-role="none" rel="external"> <span class="b_ico ico-back-h"></span> </a>
      <div class="row-flex1 text-center h2_title"> 19.9元定制活动 </div>
      <div class="fr cart"> <a href="购物车.html" data-role="none" rel="external"> <span class="b_ico ico-cart"></span> </a> </div>
    </div>
  </div>
  <div class="contentbox ui-content" data-role="content" role="main">
    <div class="activitybox">
    	<div class="rel act-banner">
        	<img src="../moblie/images/temp/hd01.png" />
            <div class="btn-hdshare">
            	<span class="btn-share-span">一键分享</span>
            </div>
        </div>
        <div class="act-text line30">
        	<h2 class="line40">活动规则</h2>
            <div class="act-cont">
            	<div class="act-cont-1">
            		<p>1、活动内容： 1元钱包邮，体验定制 高清数码打印高档100%纯棉T恤（价值69元）；</p>
                </div>
                <div class="act-cont-1">
                	<h3>2、活动流程：</h3>
               		<p>1)	关注并进入微信公众号 “百享时尚社交定制”（添加朋友，搜索“百享”即可看到。）；</p>
                	<p>2)	进入活动专题页了解详情，提交您要打印的图片，预览高清数码打印T恤 效果；</p>
                	<p>3)	效果满意后提交定制订单，付款1元包邮；</p>
                	<p>4)	分享1元定制到朋友圈，获取更多奖励（时尚大伯乐体系）；</p>
                </div>
                <div class="act-cont-1">
                	<h3>3、	活动规则：</h3>
                    <p>1)	日期：6月1-6月7日；</p>
                    <p>2)	产品：男、女款 高档100%纯棉高清数码打印 T恤；</p>
                    <p>3)	活动价：1元，正常定价：69元；</p>
                    <p>4)	无门槛：只要关注微信服务号就可以直接参与；</p>
                    <p>5)	限定1件：每个用户限定一件 ；</p>
                    <p>6)	发货及退换货：7天发货，15天无理由退换货；</p>
                    <p>7)	更多奖励：分享1元定制活动到微信朋友圈、qq好友、微博主页， 获得 “时尚大伯
                    乐”奖励；</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="footerbox activityfooter" data-role="footer" data-position="fixed">
    <div class="rowbox footerbox-in btn-buy">
        <div class="row-flex1 btn-pri">
        	<button data-role="none" class="btn-pri-buy btn-dwdz">
            	<span class="ico ico-dwdz"></span>点我定制
            </button>
        </div>
    </div>
  </div>
</div>
<!--分享提示-->
<div id="share_bg" class="share_bg"></div>
<div id="share_tip" class="share_tip"></div>
<{include file="footer_comm.html"}>
<script src="<{$static_url}>/moblie/js/activity.js?151216121539"></script> 
<script type="text/javascript">
$(function(){
	ActivityClass.baseactivity();
	ActivityClass.activityInit();	
})
</script>
</body>
</html>
