<{include file="header_comm.html"}>
<link rel="stylesheet" href="<{$static_url}>/moblie/app/css/dz.css?v=<{$v_css_js}>">
<body>
<div id="bodywidth"></div>
<div id="fxpage_user" data-role="page">
  <div id="headerbox" class="headerbox">
    <div class="rowbox searchbox"> <a href="/" class="back" data-role="none" rel="external"> <span class="b_ico ico-back-h"></span> </a>
      <div class="row-flex1 text-center line30" style="white-space:nowrap;  overflow:hidden"><span style="margin-left:-20px">为爱定制“1元包邮”;整点疯抢“1元包邮”</span></div>
    </div>
  </div>
  <div class="contentbox ui-content" data-role="content" role="main">
    <div class="activitybox">
      <div class="rel act-banner" style="padding-top:40px"> <img src="<{$static_url}>/moblie/images/activity/activitybg02.jpg?v=3.00" /> </div>
      <div class="act-text line30">
        <div class="b color-black act-cont" style="padding-bottom:10px">
          <p class="blank20"></p>
          <div style="padding:0 10px" class="hd_btn">
          	<div class="dz-border">
            	<h2 class="text-center"><span>第一步：点击关注</span></h2>
                <p class="blank20"></p>
                <a href="http://mp.weixin.qq.com/s?__biz=MzA3NTM5Mzg2NA==&mid=206134523&idx=1&sn=b052274af6c6633a2e2db14c7a10e577#rd">
                <button data-role="none" type="button" id="btn-gzbysharewx" class="btn btn-border w100e line36 mb-10 btn-danger btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">关注百享微信</span> </button>
                </a>
            </div> 
          	<div class="dz-border">
            	<h2 class="text-center"><span>第二步：点击分享</span></h2>
                <p class="blank20"></p>
            	<button data-role="none" type="button" id="btn-bysshare-wx" class="btn btn-danger w100e line36 mb-10 btn-bysshare-wx btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">分享到朋友圈</span> </button>
            </div>
            <div class="dz-border">
            	<h2 class="text-center"><span>点击整点疯抢优惠码</span></h2>
                <div class="qiangText text-center">
                	<p>每天10点，16点，20点准时开抢</p>
                    <p>每天<span class="color-red">300</span>个“1元包邮”个性定制纯棉T恤优惠码！</p>
                    <p><a href="#help-weizhi" class="color-blue">使用方法</a> | <a href="#help-weizhi" class="color-blue">抢中名单</a></p>
                </div>
                <p class="blank0"></p>
                <button data-role="none" type="button" class="btn w100e line40 btn-danger btn-danger-gray btn-danger-ra10  fengqiang-btn"> 
                	<span class="b f26">努力加载中...</span> 
            	</button>
                <div class="blank20"></div>
                <button data-role="none" type="button" id="onMenuShareTimeline" class="btn w100e line40 btn-danger btn-danger-ra10"> 
                	<span class="b f26">点击分享</span> 
            	</button>
                <div class="qiangText line40 text-center" style="display:none">
                	<p>恭喜您，抢码成功！您的1元包邮优惠码是</p>
                    <p class="color-red">SDFSDFD6545SDFDSF5454D</p>
                </div>
                <div id="qiangText" class="qiangText line40 text-center" style="display:none">
                	<p>哇哦！当前的1元包邮优惠码被抢光咯！请下个整点继续抢</p>
                </div>
            </div> 
          	<div class="dz-border">
            	<h2 class="text-center"><span>点击定制</span></h2>
                <div class="qiangText text-center">
                	<p>为爱定制,第二件享受“一元包邮”</p>
                </div>
                <a href="/activity/index.html?act=printpic">
                <button data-role="none" type="button" class="btn-bysharedz btn w100e line36 btn-danger  btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">亲子定制</span> </button>
                </a> 
                <p class="blank15"></p>
                <a href="/activity/index.html?act=printpic">
                <button data-role="none" type="button" class="btn-bysharedz btn w100e line36 btn-danger  btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">闺蜜定制</span> </button>
                </a> 
                <p class="blank15"></p>
                <a href="/activity/index.html?act=printpic">
                <button data-role="none" type="button" class="btn-bysharedz btn w100e line36 btn-danger  btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">情侣定制</span> </button>
                </a> 
                <p class="blank15"></p>
                <a href="/activity/index.html?act=printpic">
                <button data-role="none" type="button" class="btn-bysharedz btn w100e line36 btn-danger  btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">兄弟定制</span> </button>
                </a> 
                <p class="blank15"></p>
                <a href="/activity/index.html?act=printpic">
                <button data-role="none" type="button" class="btn-bysharedz btn w100e line36 btn-danger  btn-danger-ra10"> <span class="ico ico-gz"></span> <span class="b f26">团队定制</span> </button>
                </a> 
            </div>
          </div>
          <div class="cont">
            <div class="cont-1">
              <div class="f18"> 1、为爱定制“一元包邮”：亲子定制、情侣定制、闺蜜定制，第二件均享受一元包邮的体验定制价格（限量10000件），其余可享受活动促销价格39.9包邮（限量30000件）。若用户只定一件，则只能享受39.9包邮优惠。定制流程： </div>
              <div class="cont-1-1" style="font-weight:normal; padding:10px 0 20px 0px">
                <p> 1)	第一步，关注百享微信公众号；</p>
                <p> 2)	第二步，分享本次活动到朋友圈；</p>
                <p> 3)	第三步，选择亲子定制、情侣定制或闺蜜定制，进入定制页面；</p>
                <p> 4)	第四步，定制一件后，根据提示选择 “继续定制”来定制第二件、第三件；</p>
                <p id="help-weizhi"> 5)	第五步：定制完成后，提交结算付款，定制成功，等待发货。</p>
              </div>
            </div>
            <div>
                   <div class="f18"> 2、	整点疯抢“一元包邮”优惠码：火热开抢中;每天10点（100个），16点（100个），20点（100个），准时开抢(活动整体限量3000个，抢完为止)。活动流程：</div>
                   <div class="cont-1-1" style="font-weight:normal; padding:10px 0 20px 0px">
                    <p>1)	第一步，提前关注百享微信公众号；</p>
                    <p>2)	第二步，提前分享本次活动到朋友圈；</p>
                    <p>3)	第三步，坐等整点开抢时间，立即点击屏幕上的“整点抢定制”按钮；</p>
                    <p>4)	第四步，抢到后，请按提示复制优惠码；</p> 
                    <p>5)	第五步：选择亲子，闺蜜，情侣，兄弟，团队等任何一个定制按钮，进入定制</p>
                    <p>5)	第六步：定制完成后，按提示操作输入优惠码，提交结算付款，享受1元包邮定制优惠。</p>
                   </div>
            </div>
            <div class="cont-1 f18" style="padding-bottom:20px"> 3、抢完正价：本次活动6月23日晚8：00至6月30日晚8：00， 抢完或到期，活动即结束，恢复正常定制价格59.9包邮。 </div>
            <div class="cont-1 f18" style="padding-bottom:20px"> 4、发货日期：自下单之日起，7日内发货，均采用中国邮政及天天快递（3-5天送货上门），若下单10日内没有收到货，或有任何问题，请直接联系百享微信公众号解决（百享时尚社交定制，周一至周六，早9点-晚6点）。 </div>
            <div class="cont-1 f18" style="padding-bottom:20px"> 5、颜色尺码：本次活动定制款为欧美进口高档纯棉T恤，分男款、女款、青少年款，请在定制时选择合适的码数和您喜欢的颜色（<a href="#chima" class="color-blue">码数和颜色见下方详情，建议选小一码更修身</a>），让您的定制更加合身满意。 </div>
            <div class="cont-1 f18" style="padding-bottom:20px"> 6、法律声明：本次活动接受用户提供的定制图片，均视为用户享有该图片的使用权，请勿提交暴力、黄色、涉及政治和侵权的图片，否则百享有权取消用户定制订单。 </div>
          </div>
        </div>
        <div class="act-cont color-black" style="padding-bottom:0">
          <p id="chima"><img src="<{$static_url}>/moblie/images/activity/cc.jpg?v=3.00" alt="" title="1435056783343858.png" pagespeed_url_hash="3099688226" ><br>
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/001.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/002.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/003.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/004.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/005.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/007.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/006.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/008.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/009.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <p><img src="<{$static_url}>/moblie/images/activity/pic/010.jpg?v=3.00" alt="1604839120_1314031331.jpg?v=3.00" pagespeed_url_hash="3586362597" >
          </p>
          <br>
        </div>
        <div class="blank10"></div>
      </div>
    </div>
  </div>
</div>
<!--分享提示-->

<{include file="footer_comm.html"}> 
<script src="<{$static_url}>/moblie/js/activity.min.js?151216121539"></script> 
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
var is_buyed="<{$is_buyed}>";
var isback = 0;//是否请求是否关注微信回来
var i_token = "<{$token}>";
var i_act = "<{$act}>";
$(function(){
	ActivityClass.baseactivity();
	ActivityClass.activityInit();	
});

wx.config({
  debug: false,
  appId: '<{$signPackage["appId"]}>',
  timestamp: '<{$signPackage["timestamp"]}>',
  nonceStr: '<{$signPackage["nonceStr"]}>',
  signature: '<{$signPackage["signature"]}>',
  jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
      ]
});
/**/
/*
 * 注意：
 * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
 * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
 * 3. 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
 *
 * 如有问题请通过以下渠道反馈：
 * 邮箱地址：weixin-open@qq.com
 * 邮件主题：【微信JS-SDK反馈】具体问题
 * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
 */
wx.ready(function () {
  // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
  document.querySelector('#checkJsApi').onclick = function () {
    wx.checkJsApi({
      jsApiList: [
        'getNetworkType',
        'previewImage'
      ],
      success: function (res) {
        alert(JSON.stringify(res));
      }
    });
  };

  // 2. 分享接口
  // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
  document.querySelector('#onMenuShareAppMessage').onclick = function () {
    wx.onMenuShareAppMessage({
      title: '互联网之子',
      desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
      link: 'http://movie.douban.com/subject/25785114/',
      imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        alert('用户点击发送给朋友');
      },
      success: function (res) {
        alert('已分享');
      },
      cancel: function (res) {
        alert('已取消');
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
    alert('已注册获取“发送给朋友”状态事件');
  };

  // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
  document.querySelector('#onMenuShareTimeline').onclick = function () {
    wx.onMenuShareTimeline({
      title: '互联网之子',
      link: 'http://movie.douban.com/subject/25785114/',
      imgUrl: 'http://demo.open.weixin.qq.com/jssdk/images/p2166127561.jpg',
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        alert('用户点击分享到朋友圈');
      },
      success: function (res) {
        alert('已分享');
      },
      cancel: function (res) {
        alert('已取消');
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
    alert('已注册获取“分享到朋友圈”状态事件');
  };

  // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
  document.querySelector('#onMenuShareQQ').onclick = function () {
    wx.onMenuShareQQ({
      title: '互联网之子',
      desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如