<div id="addShareFromTipbox" class="tipbox fade" data-index="0" style="display:none;">
    <div class="tipbox-in">
        <h1 class="tiptop"><{$lang['sns_temaddsharefrom_sharenfrom']}></h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
            <div class="addShareContent">
                <button data-role="none" type="button" class="addShareButton addShareURL">
                    <em class="ico ico-addShareURL"></em>
                    <span class="buttonText f12"><{$lang['sns_temaddsharefrom_web']}></span>
                </button>
                <button data-role="none" type="button" class="addShareButton addShareUpload">
                    <em class="ico ico-addShareUpload"></em>
                    <span class="buttonText f12"><{$lang['sns_temaddsharefrom_localhost']}></span>
                </button>
            </div>
        </div>
    </div>
</div>