<div id="sns_repeat" class="tipbox fade" data-index="0">
    <div class="tipbox-in" data-index="0">
        <h1 class="tiptop"><{$lang['sns_temaddweburl_title']}></h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <!--聊天功能-->
<div id="msgBox" class="msgBox hide">
  <div class="msgUserBox">
    <div id="msgUserList"></div>
    <div id="msgListBox" class="massegeBoxOut" data-isopen="1" style="display:block">
      <div class="massegeBox">
        <span class="ico ico-lightGray"></span>
        <div id="massegeBox" class="massegeBox-in"> 
        </div>
      </div>
    </div>
  </div>
  <div class="msg-input">
    <form id="msgsendForm" class="msgsendForm" method="post">
      <div class="rel fl">
        <textarea autofocus class="content-input" placeholder="Add a message" name="msgcont"  data-validate="isempty"></textarea>
      </div>
      <button type="button" id="btn-sendmsg" data-uid="1" class="fr btn btn-border">发送</button>
    </form>
   </div> 
</div>
    </div>
</div>