<div id="b_private" class="tipbox fade" data-index="0">
	<form id="b_privateFrom" method="post">
    <div class="tipbox-in" data-index="0">
    	<h1 class="tiptop">量身定制（身体数据）</h1>
    	<span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
          <div class="tipcontbox sendCont">
             <div class="bodydatalist f12">
            	<span class="f12 color-555 mr-10">请选择定制人:</span>
           		<select id="datanamelist" name="obdid" class="f-normal">
                </select> 
            </div>
            <form id="b_privateFrom" method="post">
            <div id="bodydatainfo" class="bodydatainfo" style="display:none">
            	
            </div>
            </form>
          </div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 closeBtnHtml closeTipBtn" type="button">
                    <span class="buttonText"><{$lang['buy_button_cancel']}></span>
                </button>
                <button data-role="none" type="submit" class="btn btn-danger btn-Save">
                    <span class="buttonText butttonsubmit"><{$lang['buy_button_submit']}></span>
                </button>
            </div>
            <div class="blank0"></div>
    	</div>
    </div>
    </form>
</div>