<div id="b_private" class="tipbox fade" data-index="0">
	<form id="b_privateFrom" method="post">
    <div class="tipbox-in" data-index="0">
    	<h1 class="tiptop">填写以下个人信息</h1>
    	<span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
          <div class="bodydatalist">
          	<h3>选择身体数据</h3>
          </div>
          <div class="tipcontbox sendCont b_private">
                	<h3 class="f12 color-555">填写尺寸(CM)</h3>
                    <p class="blank10"></p>
                	<ul class="cclist">
                        <li>
                            <label>身高：</label>
                            <input data-role="none" type="text" name="goodsname" value="" placeholder="身高" class="w50" />
                        </li>
                        <li>
                            <label>体重：</label>
                          <input data-role="none" type="text" name="goodsname" value="" placeholder="体重" class="w50" />
                        </li>
                        <li>
                            <label>衣长：</label>
                          <input data-role="none" type="text" name="goodsname" value="" placeholder="衣长" class="w50" />
                        </li>
                        <li>
                            <label>胸围：</label>
                          <input data-role="none" type="text" name="goodsname" value="" placeholder="胸围" class="w50" />
                        </li>
                        <li>
                            <label>腰围：</label>
                          <input data-role="none" type="text" name="goodsname" value="" placeholder="腰围" class="w50" />
                        </li>
                        <li>
                            <label>臀围：</label>
                          <input data-role="none" type="text" name="goodsname" value="" placeholder="臀围" class="w50" />
                        </li>
                        <li>
                            <label>领围：</label>
                          <input data-role="none" type="text" name="goodsname" value="" placeholder="领围" class="w50" />
                        </li>
                        <li>
                            <label>肩宽：</label>
                            <input data-role="none" type="text" name="goodsname" value="" placeholder="肩宽" class="w50" />
                        </li>
                        <p class="blank10"></p>
                    </ul>
                    
                    <h3 class="f12 color-555 pri_title">选择体型</h3>
                    <p class="blank10"></p>
                      <ul id="txlist" class="txlist">
                          <li>
                              <div class="fl w50 text-right">体型：</div>
                              <dl class="fl">
                                <dd data-val="标准(A)" class="current">标准(A)<em class="ico currentico"></em></dd>
                                <dd data-val="偏瘦(Y)">偏瘦(Y)<em class="ico currentico"></em></dd>
                                <dd data-val="微胖(B))">微胖(B)<em class="ico currentico"></em></dd>
                                <dd data-val="肥胖(C)">肥胖(C)<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="tx" value="标准(A)" />
                              </dl>
                          </li>
                          <li>
                              <div class="fl w50 text-right">后背：</div>
                              <dl>
                                <dd data-val="标准" class="current">标准<em class="ico currentico"></em></dd>
                                <dd data-val="背部平直">背部平直<em class="ico currentico"></em></dd>
                                <dd data-val="驼背">驼背<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="hb" value="标准" />
                              </dl>
                          </li>
                          <li>
                              <div class="fl w50 text-right">手臂：</div>
                              <dl>
                                <dd data-val="标准(A)" class="current">标准<em class="ico currentico"></em></dd>
                                <dd data-val="粗壮">粗壮<em class="ico currentico"></em></dd>
                                <dd data-val="纤细">纤细<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="sb" value="标准" />
                              </dl>
                              
                              
                          </li>
                          <li>
                              <div class="fl w50 text-right">腿：</div>
                              <dl>
                                <dd data-val="标准(A)" class="current">标准(A)<em class="ico currentico"></em></dd>
                                <dd data-val="偏瘦(Y)">偏瘦(Y)<em class="ico currentico"></em></dd>
                                <dd data-val="微胖(B))">微胖(B)<em class="ico currentico"></em></dd>
                                <dd data-val="肥胖(C)">肥胖(C)<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="t" value="标准(A)" />
                              </dl>
                              
                          </li>
                          <li>
                              <div class="fl w50 text-right">屁股：</div>
                              <dl>
                                <dd data-val="标准" class="current">标准<em class="ico currentico"></em></dd>
                                <dd data-val="瘪平">瘪平<em class="ico currentico"></em></dd>
                                <dd data-val="臀丰">臀丰<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="pg" value="标准" />
                              </dl>
                              
                          </li>
                          <li>
                              <div class="fl w50 text-right">肩：</div>
                              <dl>
                                <dd data-val="标准" class="current">标准<em class="ico currentico"></em></dd>
                                <dd data-val="平肩">平肩<em class="ico currentico"></em></dd>
                                <dd data-val="溜肩">溜肩<em class="ico currentico"></em></dd>
                                <dd data-val="高低肩">高低肩<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="j" value="标准" />
                              </dl>
                              
                          </li>
                          <li>
                              <div class="fl w50 text-right">胯部：</div>
                              <dl>
                                <dd data-val="标准(A)" class="current">标准<em class="ico currentico"></em></dd>
                                <dd data-val="胯宽">胯宽<em class="ico currentico"></em></dd>
                                <dd data-val="胯窄">胯窄<em class="ico currentico"></em></dd>
                                <input data-role="none" type="hidden" name="kb" value="标准" />
                              </dl>
                              
                          </li>
                          <li>
                              <div class="fl w50 text-right">腹部：</div>
                              <dl>
                                <dd data-val="平坦" class="current">平坦<em class="ico currentico"></em></dd>
                                <dd data-val="微凸">微凸<em class="ico currentico"></em></dd>
                                <dd data-val="啤酒肚">啤酒肚<em class="ico c