<div id="CustomOneTipBox" class="tipbox fade" data-index="0" style="display:none;">
	<form id="CustomOneFrom" method="post">
    <div class="tipbox-in" data-index="0">
    	<h1 class="tiptop"><{$lang['buy_tmp_customOneTip_choose']}></h1>
    	<span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
            <div class="tipcontbox sendCont" id="initiatedList">
            </div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 closeBtnHtml closeTipBtn" type="button">
                    <span class="buttonText"><{$lang['buy_button_cancel']}></span>
                </button>
                <button data-role="none" type="submit" class="btn btn-danger btn-Save">
                    <span class="buttonText butttonsubmit"><{$lang['buy_button_next']}></span>
                </button>
            </div>
            <div class="blank0"></div>
    	</div>
    </div>
    </form>
</div>