<div id="payTipbox" class="tipbox fade" data-index="0">
    <div class="tipbox-in">
        <h1 class="tiptop"><{$lang['buy_tmp_payTip_title']}></h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont" style="padding:40px; text-align:center">
            <a href="/mybuys/myorders.html" class="closeBtnHtml">
                <button data-role="none" type="button" class="btn btn-danger mr-10" style="width:150px; height:40px; font-size:20px;">
                	<{$lang['buy_tmp_payTip_ok']}>
                </button>
            </a>
            <a href="javascript:void(0);" class="closeBtnHtml">
                <button data-role="none" type="button" class="btn btn-border" style="width:150px; height:40px; font-size:20px;">
                    <{$lang['buy_tmp_payTip_notok']}>
                </button>
            </a>
        </div>
    </div>
</div>