<div id="dzuploadid" class="tipbox fade loaded" data-index="0" style="width: 96%; display: none; left: 28.5px; top: 249px; position: absolute; z-index: 10000;">
  <div class="tipbox-in">
    <h1 class="tiptop" id="uppic_title">上传中</h1>
    <div class="tipcont" style="padding:0 10px 10px">
        <div class="placeholder rowbox">
        	<div id="progress" class="progress row-flex1" style="border-radius:6px"> 
                <span class="text">0%</span> 
                <span class="percentage" style="width: 0%;border-radius:6px"></span> 
            </div>
        	<div class="blank0"></div>
        </div>
    </div>
    <div class="blank0"></div>
  </div>
</div>