<div id="pwdTipBox" class="tipbox fade" data-index="0">
	<form id="pwdFrom" method="post">
    <div class="tipbox-in" data-index="0">
    	<h1 class="tiptop">Change Password</h1>
    	<span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
            <ul class="">
                <li class="rowbox">
                    <h3 class="w100">Old Password<p style="margin-top:-10px"><a class="color-red f12 forgotPassword" href="javascript:void(0);">Forgot Your Password?</a></p></h3>
                    <div class="row-flex1">
                        <input data-role="none" type="password" name="old" value="" placeholder="password" data-validate="OldPwd">
                    </div>
                </li>
                <li class="rowbox">
                    <h3>New Password</h3>
                    <div class="rel pwd">
                        <input data-role="none" type="password" name="new" value="" placeholder="password" data-validate="Pwd">
                    </div>
                </li>
                <li>
                    <h3 style="width:160px"><label>New Password</label></h3>
                    <div class="right-con rel pwd" style=" margin-left:160px">
                        <input data-role="none" name="new_confirm" type="password" data-validate="Pwd1">
                    </div>
                </li>
            </ul>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn mr-5 closeBtnHtml" type="button">
                    <span class="buttonText">Cancel</span>
                </button>
                <button data-role="none" type="submit" class="btn btn-danger btn-Save">
                    <span class="buttonText butttonsubmit">Change Password</span>
                </button>
            </div>
            <div class="blank0"></div>
    	</div>
    </div>
    </form>
</div>