<div id="selectCurrencyTipbox" class="tipbox fade" data-index="0" style="display:none;">
    <div class="tipbox-in">
        <h1 class="tiptop">Choose your currency</h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
            
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 closeBtnHtml" type="button">
                    <span class="buttonText">Close</span>
                </button>
                <button data-role="none" type="submit" class="btn btn-danger">
                    <span class="buttonText">Choose</span>
                </button>
            </div>
            <div class="blank0"></div>
        </div>
    </div>
</div>