<div id="SendFrinedTipbox" class="tipbox fade" data-index="0" >
    <div class="tipbox-in" data-index="0">
        <h1 class="tiptop">Send Frined</h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <form id="SendFrinedForm" class="commForm standardForm f12" method="post">
        <div class="tipcont">
            <div class="sendCont">
                <ul class="list-unstyled pick-span">
                    <li>
                        <h3><label>Message</label></h3>
                        <div class="right-con">
                        <textarea class="textarea message" placeholder="Add a message"></textarea></div>
                    </li>
                    <li>
                        <h3><label>Search</label></h3>
                        <div class="right-con rel">
                            <input data-role="none" class="ui-Input" type="text" name="name" autofocus placeholder="Search" autocomplete="off">
                            <div id="userCircleSelect" class="userCircleSelect ui-Typeahead sendfried" style="display:none">
                                <ul id="userList" class="results"> </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 closeBtnHtml" type="button"><span class="buttonText">Close</span></button>
                <button data-role="none" type="submit" class="btn btn-danger"><span class="buttonText butttonsubmit">Send</span></button>
            </div>
            <div class="blank0"></div>
        </div>
        </form>
    </div>
</div>
