<div id="shareSuccessTipbox" class="tipbox fade" data-index="0">
    <div class="tipbox-in">
        <h1 class="tiptop"><{$lang['sns_shares_view_shareto']}></h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont tipcontbox">
            <div class="successBox">
                <div class="successCont text-center">
                	<div class="bysharebox">
                        <span id="share_sns"></span>
                        <span id="jiathis_style"></span>
                        <span id="byshare_weixin" class="byshare_sns byshare_weixin" title="分享到微信"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 closeBtnHtml" type="button" style="display:none">
                    <span class="buttonText"><{$lang['sns_tplsharesuccesstip_colse']}></span>
                </button>
                <a href="view.html" id="seeItNow">
                    <div class="btn btn-danger">
                        <span class="buttonText"><{$lang['sns_tplsharesuccesstip_seenow']}></span>
                    </div>
                </a>
            </div>
            <div class="blank0"></div>
        </div>
    </div>
</div>
