<div id="sns_grouptype" class="tipbox fade" data-index="0">
  <div class="tipbox-in">
    <h1 class="tiptop">选择明星群分类</h1>
    <span class="ico02 tipclose closeBtnHtml"></span>
    <div class="tipcont" style="padding:10px;">
      <ul id="catlist_type" class="rowbox catlist">
        <li class="li_noborder">按类别：</li>
        <li class="li_click" value="1">明星</li>
        <li class="li_click" value="2">街拍达人</li>
        <li class="li_click" value="3">模特</li>
      </ul>
      <ul id="catlist_area" class="rowbox catlist">

      </ul>
      <ul id="catlist_sex" class="rowbox catlist">
        <li class="li_noborder">按性别：</li>
        <li class="li_click" value="1">男</li>
        <li class="li_click" value="2">女</li>
      </ul>
    </div>
    <div class="tipbottom">
        <div class="fr formFooterButtons">
            <button data-role="none" class="btn-border btn mr-5 closeBtnHtml" type="button">
                取消
            </button>
            <button data-role="none" type="submit" class="btn btn-danger btn-Save">
                确定
            </button>
        </div>
        <div class="blank0"></div>
    </div>
  </div>
</div>
