<div id="sns_cats" class="headerbox fade" style="border-bottom:none; height:100%; z-index:9997;">
	<div class="top_l">
    	<a href="javascript:void(0);" class="rel" id="closecats">
          <span class="b_ico ico-back-h"></span>
      	</a>
    </div>
    <div class="searchTip">
    	<form id="catssearchTagbox" class="searchtop" method="GET">
            <div class="rowbox">
                <div class="row-flex1">
                <input class="newsearchInt" type="text" name="s" value="" placeholder="输入关键字" style="padding-left:20px" >
                </div>
                <div class="searchbtn newsearchbtn">
                    <button type="button" class="ico ico-search w30"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="sns_cats_box">
        <div class="t_main">
            <div id="t_content_box" class="t_content">
                <div class="son_cats">
                    <h3 class="line36 ml-10">热卖品类</h3>
                    <ul id="t_content"></ul>
                </div>
                <div class="blank0"></div>
                <div id="son_soncats" class="son_soncats">
                </div>
            </div>
        </div>
        <div class="t_sitebar f16">
            <ul id="t_sitebar_box"></ul>
        </div>
     </div>
</div>