<div id="sns_rzbox" class="tipbox fade" data-index="0">
	<form id="sns_rzboxFrom" method="post">
    <div class="tipbox-in" data-index="0">
    	<h1 id="rz_title" class="tiptop">设计师认证</h1>
    	<span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
          <div class="tipcontbox">
			<ul class="rz_list">
            	<li>
                    <label>认证类型：</label>
                    <input data-role="none" type="radio" name="radio2" id="radio2" value="radio2" checked="checked">
                    <label for="radio2" class="labradio">个人认证</label>
                    &nbsp;&nbsp;&nbsp;
                    <input data-role="none" type="radio" name="radio2" id="radio2" value="radio2">
                    <label for="radio2" class="labradio">企业认证</label>
                </li>
                <li>
                    <label>邮箱：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="真实姓名" class="w215" />
                </li>
                <li>
                    <label>真实姓名：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="真实姓名" class="w215" />
                </li>
                <li>
                    <label>身份证号码：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>上传身份证正面：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>上传身份证背面：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>上传手稿：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>手机号码：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>QQ：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>微信：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>设计风格：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
                <li>
                    <label>自我介绍：</label>
                    <input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w215" />
                </li>
            </ul>	
          </div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 closeBtnHtml closeTipBtn" type="button">
                    <span class="buttonText"><{$lang['buy_button_cancel']}></span>
                </button>
                <button data-role="none" type="submit" class="btn btn-danger btn-Save">
                    <span class="buttonText butttonsubmit"><{$lang['buy_button_submit']}></span>
                </button>
            </div>
            <div class="blank0"></div>
    	</div>
    </div>
    </form>
</div>