<div id="sns_pltip" class="tipbox tipbox_fixed_bottom" data-index="0" style="z-index:99999">
	<span class="ico02 tipclose closeBtnHtml" style="z-index:9999"></span>
	<form id="sns_plform" class="addCommentForm" method="post">
        <div class="tipbox-in" data-index="0">
            <div class="tipcont tipcontbox">
            	<div>
                    <div class="mbar fl" id="mbar">
                        <button type="button" class="b_ico ico-bq"></button>
                    </div>
                    <div class="fl ml-5">
                        <span class="b_ico ico-pic add-share"></span>
                    </div>
                    <div class="blank0"></div>
                </div>
                <div id="meditor" class="mcont rowbox">
                	<div id="bqbox" class="bqbox">
                        <span class="ico02 ico-bqjt"></span>
                    </div>
                    <div class="row-flex1 pl_text">
                        <textarea id="meditortxt" class="myeditable" name="comment" placeholder="<{$lang['sns_shares_view_addcomment']}>" style="display:none" data-validate="isempty"></textarea>
                    </div>
                    <button class="btn commentBtn w80" type="button" style="padding:10px 5px">
                        发送
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>