<tr>
  <td class="w100 td-t">邮箱：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="邮箱" class="w330" data-validate="Email" /></td>
</tr>
<tr>
  <td class="w100 td-t">手机号码：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="手机号码" maxlength="11" class="w330" data-validate="Mobile" /></td>
</tr>
<tr>
  <td class="w100 td-t">真实姓名：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="真实姓名" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td class="w100 td-t">通讯地址：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="通讯地址" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td class="w100 td-t">身份证号码：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="身份证号码" class="w330" data-validate="num" /></td>
</tr>
<tr>
  <td class="w100 td-t">上传身份证正面：</td>
  <td><div class="groupBox uppro_pic">
      <div class="uppro_pic_btn">
        <div class="uppro_pic_btn_c">
            <button data-role="none" type="button" data-title="上传身份证正面" class="btn btn-danger w100 up_rzpic">
              本地上传
            </button>
            (提示：图片大小不能超过2M。)
            <div class="uppro_pic_list" style="display:none">
                <ul>
                </ul>
            </div>
        </div>
      </div>
    </div></td>
</tr>
<tr>
  <td class="w100 td-t">上传手持身份证：</td>
  <td><div class="groupBox uppro_pic">
      <div class="uppro_pic_btn">
        <div class="uppro_pic_btn_c">
            <button data-role="none" type="button" data-title="上传身份证正面" class="btn btn-danger w100 up_rzpic">
              本地上传
            </button>
            (提示：图片大小不能超过2M。)
            <div class="uppro_pic_list" style="display:none">
                <ul>
                </ul>
            </div>
        </div>
      </div>
    </div></td>
</tr>
<tr>
  <td class="w100 td-t">上传手稿：</td>
  <td><div class="groupBox uppro_pic">
      <div class="uppro_pic_btn">
        <div class="uppro_pic_btn_c">
            <button data-role="none" type="button" data-title="上传手稿" class="btn btn-danger w100 up_rzpic">
              本地上传
            </button>
            (提示：图片大小不能超过2M。)
            <div class="uppro_pic_list" style="display:none">
                <ul>
                </ul>
            </div>
        </div>
      </div>
    </div></td>
</tr>
<tr>
  <th colspan="2">2. 其他信息<span class="color-red">（选填项）</span></th>
</tr>
<tr>
  <td>QQ：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="QQ" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td>微信：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="微信" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td>微信公众号：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="微信公众号" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td>微博地址：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="微博地址" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td>个人主页：</td>
  <td><input data-role="none" type="text" name="goodsname" value="" placeholder="个人主页" class="w330" data-validate="isempty" /></td>
</tr>
<tr>
  <td>设计风格：</td>
  <td>
    <div class="fl select_box w150" id="cat_b" style="margin-right:35px">
        <div data-value="0" class="select_showbox w150">
            <em class="ico02 ico-downArrow"></em>
            <span>选择分类</span>
            <input data-role="none" type="text" name="cat_b" value="" maxlength="2" class="int_bg select_analog" data-validate="isempty">
        </div>
        <div class="createPanels select_option" style="display:none; width:163px;top:35px">
            <ul class="board_items CategoryList">
            <li data-tagid="15" value="15">女装</li><li data-tagid="16" value="16">男装</li></ul>
        </div>
    </div>
  </td>
</tr>
<tr>
  <td>自我介绍：</td>
  <td>
    <textarea cols="3" rows="5" style="width:700px; height:100px">sdasda</textarea>
  </td>
</tr>