<div id="sns_activityTipbox" class="tipbox fade" data-index="0" style="display:block; border-radius:0">
  <div class="tipbox-in">
    <div id="tipbottom" class="tipbottom" style="border-radius:0; height:30px; border-bottom:#ddd solid 1px; padding:3px 10px 10px">
      <div class="fl closeBtnHtml"> <span class="b_ico ico-back-h"></span> </div>
      <div class="fr formFooterButtons">
      	<div id="filePicker2"></div>
        <button data-role="none" type="button" id="printBtn" class="btn btn-one w80 uploadBtn">
        	<{$lang['sns_temsharetipfirst_next']}>
        </button>
      </div>
      <div class="blank0"></div>
    </div>
    <form id="sns_activityFrom" method="post">
      <div class="tipcont">
        <div id="dzshowPic" class="dzshowPic manualup">
          <div id="uploader" style="display:none">
                <div class="queueList">
                    <div id="dndArea" class="placeholder rowbox">
                        <div class="webuploader-container" id="filePicker"></div>
                    </div>
                </div>
          </div>
          <div class="sliderbox" id="sliderboxtip">
            <div class="slide_01" id="slide_01tip">
            	<div class="mod_01">
                	<div class="dzshowPicImg" data-w="750" data-h="732">
                    	<img class="picImg" data-color="fffff" src="<{$static_url}>/moblie/images/activity/hd.jpg" />
                        <div class="dyimgbox border-dyimgbox" data-w="220" data-h="310">
                            <div class="dyimgbox_in"></div>
                            <div class="progress_diy">
                            	<span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dotModule_new">
              <div class="slide_01_dot" id="slide_01_dottip"></div>
            </div>
            
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
