<div id="sns_more" class="tipbox fade" data-index="0">
    <div class="tipbox-in" data-index="0">
        <h1 class="tiptop">更多</h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont tipcontbox text-center">
      		<div class="btn mb-10 btn-danger chatBtn">私聊TA </div>
            <div class="btn reportBtn" data-shid="" data-type="shares">举报内容</div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 btnCancel closeBtnHtml" type="button">
                    <span class="buttonText"><{$lang['sns_temaddweburl_cencle']}></span>
                </button>
            </div>
            <div class="blank0"></div>
        </div>
    </div>
</div>