<div id="sns_repeat" class="tipbox fade" data-index="0">
    <div class="tipbox-in" data-index="0">
        <h1 class="tiptop">分享到</h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
            <div class="tipcont tipcontbox text-center">
            	<span class="byshare_sns byshare_tbyshare btn-share" title="分享到百享"></span>
                <span id="share_sns"></span>
                <span id="byshare_weixin" class="byshare_sns byshare_weixin" title="分享到微信"></span>
            </div>
            <div class="tipbottom">
                <div class="fr formFooterButtons">
                    <button data-role="none" class="btn-border btn rounded mr-5 btnCancel closeBtnHtml" type="button">
                        <span class="buttonText"><{$lang['sns_temaddweburl_cencle']}></span>
                    </button>
                </div>
                <div class="blank0"></div>
            </div>
    </div>
</div>