<div id="successAddCartTip" class="tipbox fade" data-index="0">
    <div class="tipbox-in" data-index="0">
        <h1 class="tiptop">The system prompts</h1>
        <span class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
            <div class="tipcontbox sendCont" style="padding:30px;">
               <span class="ico ico-success"></span>
               <span id="regmsg">商品已成功加入购物车！</span>
            </div>
        </div>
        <div class="tipbottom">
            <div class="fr formFooterButtons">
                <button data-role="none" class="btn-border btn rounded mr-5 btnCancel closeBtnHtml" type="button">
                    <span class="buttonText">继续购物</span>
                </button>
                <a href="/myorder/mycart.html" calss="rel">
                	<button data-role="none" type="button" class="btn btn-danger btnTipsubmit">去购物车结算</button>
                </a>
            </div>
            <div class="blank0"></div>
        </div>
    </div>
</div>