<div class="cilckItem">
    <span class="item-tag-label"></span>
    <span class="ico ico-stag"></span>
    <div class="hide item-tag-form item-tag-show" style="width:auto;">
        <div class="tip"></div>
    </div>
</div>
<div class="item-tag-form item-tag-box">
    <h2 class="tiptop"><{$lang['sns_tagtip_tag']}></h2>
    <span class="fr ico02 tipclose ico-tag-close hide"></span>
    <div class="CustomizedFrom">
    	<div class="addTagFrom">
            <div class="tipcont">
                <div class="modal-body">
                    <ul class="list-unstyled pick-span">
                        <li class="rel">
                            <div class="right-con">
                                <input data-role="none" class="byshareInputName searchTag" type="text" name="Tag" value="" placeholder="<{$lang['sns_tagtip_tagdesc2']}>" data-validate="isempty" isarray="true">
                            </div>
                            <input data-role="none" type="hidden" name="tagCoordinate" value="0" class="Coordinate" isarray="true">
                        </li>
                    </ul>
                    <div class="blank0"></div>
                </div>
            </div>
            <div class="tipbottom">
                <div class="fr formFooterButtons">
                    <button data-role="none" class="btn-border btn rounded mr-5 delTipBtn" type="button">
                        <span class="buttonText"><{$lang['sns_peopletip_del']}></span>
                    </button>
                    <button data-role="none" type="button" class="btn btn-danger addTagTipBtn">
                        <span class="buttonText"><{$lang['sns_peopletip_done']}></span>
                    </button>
                </div>
                <div class="blank0"></div>
            </div>
        </div>
    </div>
</div>
