<div id="uploadid" class="tipbox fade" data-index="999" style="width:90%;display:block;">
    <div class="tipbox-in">
        <h1 class="tiptop" id="uppic_title">请从您电脑选择1~10张图片上传</h1>
        <span id="tipclose" class="ico02 tipclose closeBtnHtml"></span>
        <div class="tipcont">
            <div id="container">
                <!--头部，相册选择和格式选择-->
                <div id="uploader">
                    <div class="queueList">
                        <div id="dndArea" class="placeholder rowbox">
                            <div id="allcontainer" class="rel" style="margin:0; overflow:hidden;">
                                <div id="allpickfiles">
                                    <div class="btn-danger webuploader-pick" style="z-index:0">选择图片</div>
                                </div>
                                <input id="all_input" type="file" style="font-size:999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple accept="">
                            </div>
                            <div id="progress" class="progress row-flex1">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="blank0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank0"></div>
        </div>
    </div>
</div>
